{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "paths": ["./src"],
        "extensions": [
          ".js"
        ]
      }
    ]
  }
}